@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #005a76;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
}
.title-container {
    background: linear-gradient(
       111.38deg,
       #72fbda 35.93%,
       rgba(251,251,251,0.41) 152.79%,
       rgba(237,237,237,0) 236.26%
    );
    padding: 16px 0;
    height: 70px;
}
.title-container h1{
    font-weight: 600;
    font-size: 32px;
    color: var(--primary);
    text-align: center;
}
.button-container {
    height: 20vh;
    display: grid;
    place-items: center;
}
.button-container button {
    background-color: var(--primary);
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 24px;
}
.colour-container{
    height: calc(80vh - 70px);
    display: grid;
    grid-template-rows: 4fr 3fr 2fr 1fr;
}
#colour1 {
    background-color: red;
}
#colour2 {
    background-color: green;
}
#colour3 {
    background-color: darkblue;
}
#colour4 {
    background-color: yellow;
}
.colourBox:hover p {
    display: inline-block;
}
.colourBox p {
    background-color: white;
    width: 80px;
    padding: 5px;
    text-align: end;
    margin-top: 10px;
    font-size: 15px;
    display: none;
}
@media (max-width: 770px) {
    .title-container h1 {
        font-size: 24px;
    }
}
@media (max-width: 321px) {
    .title-container h1 {
        font-size: 16px;
    }
}